<html>
    <head>
        <style>
            table tr td{
                border:1px solid black;
                border-spacing: 0px;
                border-collapse: separate;
                width: 200px;
                height:60px;
            }
        </style>
    </head>
    <body>
        <table style="text-align:center;">
            <tr>
                <td rowspan="2">Счет</td>
                <td colspan="2">Единица измерения</td>
            </tr>
            <tr>
                <td>Код</td>
                <td>Наименование</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
        </table>
    </body>
</html>
